# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VStudio & Windows stuff
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.dir
*.sdf
Testing/**/*
Win32/**/*

# Other stuff
*.pyc
*.orig
install_manifest.txt

#CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/

#build folder from cmake/premake
build/

# vim/kate/nano backup files
*.swp
*.*~

# Generated config files in include
config.hpp
config_main.hpp
include/vc_dll.hpp



