# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
*.pyc

#CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/

#build folder from cmake/premake
build/

# vim/kate/nano backup files
*.swp
*.~

# Generated config files in include
config.hpp
include/vc_dll.hpp


