
# version format
version: 0.5.0 {brach}-{build}

# branches to build
branches:
    # blacklist
    except:
        - gh-pages

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Windows Server 2012

# scripts that are called at very beginning, before repo cloning
init:
    - git config --global core.autocrlf input

# clone directory
clone_folder: c:\projects\trillek-vcomputer-module

# scripts that run after cloning repository
install:
    - cd c:\projects\trillek-vcomputer-module\
    - ps: c:\projects\trillek-vcomputer-module\prebuild.ps1

# build Configuration, i.e. Debug, Release, etc.
configuration: Debug

build_script:
    - cd c:\projects\trillek-vcomputer-module\
    - ps: c:\projects\trillek-vcomputer-module\build.ps1
